{% extends 'news/base.html' %}
{% block title %}
   <title> Reset Password </title>
{% endblock %}
{% block contents %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reset Password</legend>
            <input class="input100" type="email" name="email" autofocus="" autocapitalize="none" autocomplete="email" maxlength="150"
               required="" id="email">
            </fieldset>
            </br>
            <div class="form-group">
                <button class="login100-form-btn">
                    Send an Email
                </button>
            </div>
        </form>
    </div>
{% endblock %}