{% extends 'news/base.html' %}
{% block title %}
   <title> {{ title }}</title>
{% endblock %}
{% block contents %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register Now!</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="login100-form-btn">Sign Up</button>
            </div>
        </form>
    </div>

    <div class="border-top pt-3">
       <small class="text-muted">
           Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
       </small>
    </div>
{% endblock %}