{% extends 'news/base.html' %}
{% block title %}
    <title>{{ title }}</title>
{% endblock %}
{% block contents %}
    <div>
    <h4 style="color: #BB5715">{{ product.title }}</h4>
        <p>{{ product.price }}$</p>
    <img src="{{ product.image.url }}" height="60" width="100">
    </div>
    <hr>
 <h3 style="color: #CC0000">Make order request</h3>
    <form method="POST" >
        <div class="form-group">

        {% csrf_token %}
        {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <button type="submit" class="btn btn-danger">Send</button>
        </div>
    </form>
{% endblock %}